
.hero{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	.hero-text {
		width:50vw;
		
		p{
			font-size: 50pt;
			font-family: $font2;
			text-align: justify;
			width: 100%;
			
		}
	
		
	}
}

