.typewriter {
	overflow: hidden; 

	border-right: .15em solid #fff; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
}
 
/* The typing effect */
@keyframes typing {
	from { width: 0 ;background:transparent;}
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #fff; }
}



@keyframes borderGlow{
	from { box-shadow: 0px 0px 0px $color1;}to{box-shadow: 0px 0px 20px $color1;}
}