
.nav-menu{
	position: fixed;	
	margin-left:30px;
	z-index: 1;
	transform: translateY(100%) rotate(90deg);
	
	transform-origin: 0 0;
	transition: all ease-in 150ms;
	-webkit-tap-highlight-color: transparent;
	
	i {
		cursor: pointer;
		transition: 0.5s;
		font-size: 17pt;
		font-weight: 700;
		&:hover {
			opacity: .5;
		
		}
	}

	i:after {
		font-family: 'Material Icons';  
		content: 'menu';
		transition: 150ms ease;
		
	}
	  
	.active:after{
		content: "clear";
		opacity:0;
		
	
		
	}
	  


	
	span {
		font-family: Roboto;
		font-weight: 500;
		letter-spacing: 8pt;
		position: relative;
		left:8px;
		top:-7px;
	}
}





.sidenav {
	background: $color5 url('../images/bg4.jpg');
	height: 100vh;
	width: 250px;
	max-width: 250px;
	position: fixed;
	z-index: 10;
	top: 0;
	left:0;
	transform: translateX(-100%);
	overflow-x: auto;
	padding-top: 10%;
	transition:transform 250ms ease-in linear;
	//box-shadow: $color2 0px 10px 100px;
	
	will-change: transform;
	object {
		width: 60% !important;
		margin: 10% auto;
		display: block;
	}
	div {
		a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
	
			display: block;
			transition: 0.5s;
			letter-spacing: 0.15em;
			&:active {
				opacity: .2;
				text-decoration-line: line-through;
			}
			&:hover {
				opacity: .5;
				margin-left:30px;
			}
			
		}
	}

	.closebtn {
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	
}

.sideNavActive {
	transform: translateX(none);
	//box-shadow: $color2 0px 10px 100px;
}









/*


.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 150;
}

.menu--visible {
    pointer-events: auto;
}

.app-menu {
    background-color: #25f;
    color: #fff;
    position: relative;
    
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 500px #000;
            transform: translateX(103%);
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
	pointer-events: auto;    
	overflow: scroll;
}

.menu--visible .app-menu {
    transform: translateX(50%);
}

.menu--animatable .app-menu {
    transition: all 1s ease-in;
}

.menu--visible.menu--animatable  .app-menu {
    transition: all 1s ease-out;
}

.menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   // background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0,0,0.3,1);
}

.menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
}


.menu-icon {
	content: "Menu";
	color: #fff;
	background-color: #666546;
	width: 40px;
	height: 40px;
  }*/