/*

.portfolio {
	margin-top:10%;
	padding: 10%;
	
	background: $color2;
	font-size: 18pt ;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'img1 portt' 'img2 img3';
	grid-gap: 5%;
	grid-area: 1;

	div:nth-of-type(1) { grid-area: portt; justify-self: center;}
	div:nth-of-type(2) { grid-area: img1; justify-self: center; transform: skewX(9deg);}
	div:nth-of-type(3) { grid-area: img2; justify-self: center;transform: skewX(9deg);}
	div:nth-of-type(4) { grid-area: img3; justify-self: center;transform: skewX(9deg);}

	div {
		font-family: $font1;
		img {
		
			
			background:$color1;
		}
		p{
			margin:10% 0;
		}	
	}


	.image-box {
		position: relative;
		margin: auto;
		overflow: hidden;
		width: 100%;
		cursor: pointer;
		label {
			position: absolute;
			bottom:50%;
			left:20%;

			font-size: 50pt;
			font-weight: bold;
			opacity: 0;
			transition: all 2.0s;
			p{
				font-size: 14pt;
				font-weight: lighter;
		
			}
		}

	}

	.image-box:hover label{
		opacity: 1;
		transition: all 2.0s;
	}
	.image-box img {
		max-width: 100%;
		transition: all 2.0s;
		display: block;
		width: 100%;
		height: auto;
		transform: scale(1);
	}
	
	.image-box:hover img {
		transform: scale(1.2);
		opacity: 0.5;

	}
}

	


.smartphone {
	position: relative;
	width: 360px;
	height: 640px;
	margin: auto;
	border: 16px black solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
  }
  

  .smartphone:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
  }
  

  .smartphone:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
  }

  .smartphone .content {
	width: 360px;
	height: 640px;
	background: white;
  }
*/



.portfolio {
	padding: 10%;
	
	background: $color2;
	font-size: 16pt ;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 'pro pro1 pro2 pro3';
	grid-column-gap: 1%;
	div:nth-of-type(1) { grid-area: 'pro';align-self: center;}
	div:nth-of-type(2) { grid-area: 'pro1'; }
	div:nth-of-type(3) { grid-area: 'pro2'; }
	div:nth-of-type(4) { grid-area: 'pro3';}

	div {
		font-family: $font1;
		img {
		
			background:$color1;
		}
	
	}


	.image-box {
		position: relative;
		//margin: auto;
		overflow: hidden;
		//transform: skewX(-9deg);
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		width: 100%;
		max-height: 80%;
		text-align: center;
			align-self: center;
		cursor: pointer;
		label {
			
			position: absolute;
			
			z-index: 3;
			font-size: 50pt;
			font-weight: bold;
			opacity: 0;
			transition: all 2.0s;
			p{
				font-size: 14pt;
				font-weight: lighter;
		
			}
		}

	}

	.image-box:hover label{
		opacity: 1;
		z-index: 3;
	}
	.image-box img {
		height: 100%;
		width:200%;
		
	
	}
	
	.image-box:hover img {
		transition: opacity 200ms ease-out;
		opacity: 0.5;

	}
}

	
