#preloader {
    background:$color2;
    position: fixed;
    z-index: 10;
    height:100%;
    width:100%;
    overflow: hidden;
    animation: preLoading 3s forwards 5s;

    div {
        margin:30vh 0 0 30vw;
        color:$color1;
        width: 50vw;
        height:fit-content;
       

        p {
            width:0px;
            overflow: hidden;
            animation:brload infinite 2s none ;
          
        }
        @keyframes brload {
            0% { width:0px;}
            25% { width:5px;}
            50% { width:15px;}
            75% { width:20px;}
            100% { width:0px;}
            
        }


    }
    path {
        stroke-dasharray: 600;
        animation:pathpreload 10s  infinite ease-out;
        transform: scale(0.1);
        transform-origin: center;
    }

}

@keyframes preLoading {
    0% {

        opacity:1;
    }
   
    70% {
      
        opacity: 0;
        z-index: -2;
    }
 
    100% {
        opacity: 0;
        z-index: -2;
      
       
    }
 
}

@keyframes pathpreload {
    0% {  
        stroke-width: 3px;
        stroke-dashoffset: 600;
        transform: rotate(0deg);
    }
	
	100%{
        stroke-width: 1px;
         stroke-dashoffset: 10000;
        transform: rotate(1000deg);
        }
}