
.skills {
	background: $color2;
	min-height: 50vh;
	padding: 10%;
	font-size: 18pt ;

	display: flex;
	flex-direction: row;
	transition: all ease 500ms;

	div {
		
		flex-grow: 1;
		flex-basis: auto;
		padding:10px;
		width: 50%;
		transition: all ease 500ms;
	}
	


	li {
		width:100%;
		background:$color5;
		height:20px;
		margin-bottom: 10px;		
		
		label {
			background: $color4;
			display: block;
			width:var(--skill-level);
			height:16px;
			padding:2px;
			text-indent: 5px;
			text-align: left;
			font-size: 12pt;
			font-family: $font2;
			text-transform: uppercase;
			-moz-box-shadow:    inset 0 0 100px $color3;
			-webkit-box-shadow: inset 0 0 100px $color3;
			box-shadow:         inset 0 0 100px $color3;
			transition: all 300ms;

			&:hover {
				width:100%;
				transition: all 300ms;
				
			}
		}
	}
	
}
